body {
    background-color: black;
    color: white;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 150px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: green;
}

img {
    height: 100px;
}

main {
    display: none;
    border: white solid 5px;
    width: 70%;
    /* margin: auto; */
}

#comment[type="text"] {
    width: 380px;
}